{% load static %}
<!DOCTYPE html>

<html>
<head>
<title> Miriam Okechukwu - Resume</title>

<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="Miriam Obianuju Okechukwu Resume"/>
<meta charset="UTF-8">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Miriam Okechukwu" />
		</div>

		<div id="name">
			<h1 class="quickFade delayTwo">Miriam Okechukwu</h1>
			<h2 class="quickFade delayThree">UI/UX/Web Developer</h2>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email: <a href="mailto: miriamokechukwu@gmail.com" target="_blank">miriamokechukwu@gmail.com</a></li>
				<li>Web: <a href="https://www.linkedin.com/in/miriam-obianuju-okechukwu-562639143/">linkedIn Profile</a></li>
				<li>Mobile: +234 703 039 3955</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>

				<div class="sectionContent">
					<p>I am an innovative UI/UX designer/Web Developer who enjoys building web and mobile applications. I am passionate about pushing the boundaries of web design to improve efficiency and convenience in everyday living. I am also a mompreneur who has shown a strong dedication to and keen interest in embracing technology to help influence business decisions and improve commercial processes while balancing motherly responsibilities.</p>
				</div>
			</article>
			<div class="clear"></div>

		</section>


		<section>
			<div class="sectionTitle">
				<h1>Projects</h1>
			</div>

			<div class="sectionContent">

				<article>
					<h2><a href="https://www.figma.com/proto/arL2y13mdLfgpVMApwGdwl/Google-UX-Design-Work?node-id=127%3A2&scaling=scale-down&page-id=87%3A196&starting-point-node-id=100%3A3">Responsive Website - First time Parent App</a></h2>
					<p class="subDetails">April 2021 - May 2021</p>
					<p>Design a user experience to help people - learn about being a first-time-Parents</p>
				</article>

				<article>
					<h2><a href="https://marnovarnaturals.wixsite.com/ujuhenry/ski-resort-website">APP— Restaurant Food Menu App</a></h2>
					<p class="subDetails">June 2021 - July 2021</p>
					<p>Design a Food menu and payment App</p>
				</article>

				<article>
					<h2><a href="https://marnovarnaturals.wixsite.com/ujuhenry/ski-resort-website">Responsive Website— Volunteer Registration Website</a></h2>
					<p class="subDetails">July 2021 - August 2021</p>
					<p>Design a volunteer registration flow for a humanitarian cause you support.</p>
				</article>

				<article>
					<h2><a href="https://ujproject.vercel.app/">Amazon Clone</a></h2>
					<br>
				</article>

				<article>
					<h2><a href="https://netflix-clone-jade-xi.vercel.app/">Netflix Clone</a></h2>
					<br>
				</article>


				<article>
					<h2><a href="https://marnovarnaturals.wixsite.com/ujuhenry">Final Project Website</a></h2>

					<br>
					<br>
				</article>

			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1> Soft Skill </h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Analytical</li>
					<li>Team Management</li>
					<li>Training</li>
					<li>Problem solving</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>



		<section>
			<div class="sectionTitle">
				<h1> Tech Stack</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>JavaScript Frameworks (ReactJS)</li>
					<li>Material-UI,HTML,CSS </li>
					<li>Adobe XD, Figma</li>
					<li>Digital Marketing</li>
					<li>Python, Django</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1> Awards and Recognition</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Golden Heart Enterprise Development Institute</li>
					<li>Road to Growth Program</li>
					<li>HNG Scholarship</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Bachelor of Science:: Computer Science - (2014)</h2>
					<p class="subDetails">University of Port Harcourt, Rivers State</p>
				</article>
			</div>
			<div class="clear"></div>
			<br>

			<div class="sectionContent">
				<article>
					<h3>Google UX Design Professional Certificate :: Google ( April - August 2021)</h3>
				</article>
			</div>
			<div class="clear"></div>
			<br>

			<div class="sectionContent">
				<article>
					<h3>Digital Marketing :: Udemy (February 2019)</h3>
				</article>
			</div>
			<div class="clear"></div>
			<br>

			<div class="sectionContent">
				<article>
					<h3>Web Development :: APTECH Technology (February - July 2018)</h3>
				</article>
			</div>
			<div class="clear"></div>
			<br>

			<div class="sectionContent">
				<article>
					<h2>National Examination Council - (2008)</h2>
					<p class="subDetails">Army Day Secondary School, Bori Camp, Port Harcourt Rivers State.</p>
				</article>
			</div>
			<div class="clear"></div>
			<br>


		</section>

		<section>
			<div class="sectionTitle">
				<h1>Want to talk, Contact me!!!!!</h1>
			</div>

			<div class="sectionContent">
				<article>
					<form class="" method="post">
						{% csrf_token %}
						<div class="form-group">
							<label for="fname">Your Name</label>
							<input name="name" type="text" id="fname" class="form-control" placeholder="Please enter your Name" aria-label="Your Name"><br>

							<label for="exampleInputEmail1">Email address</label>
							  <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please enter your email"><br>

							<label for='subject'>Message</label>
							<textarea name="subject" class="form-control" name="subject" id="subject" cols="30" rows="10" placeholder="Type your message here?"></textarea>
							<br>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</article>

			</div>

			<div class="clear"></div>
			<br>

		</section>

		<section>
			<div class="sectionTitle">
				<h1>Proudly Sponsored by: </h1>
			</div>

			<div class="sectionContent">
				<div id="headshot" class="quickFade">
					<img src="{% static 'images/ingressive.jpg' %}" alt="Ifeoluwa Oderinde" />
				</div>
				<div id="headshot" class="quickFade">
					<img src="{% static 'images/hng.jpg' %}" alt="Ifeoluwa Oderinde" />
				</div>
				<div id="headshot" class="quickFade">
					<img src="{% static 'images/zuri.jpg' %}" alt="Ifeoluwa Oderinde" />
				</div>

				<div id="contactDetails" class="quickFade delayFour">
					<ul>
						<li>Web: <a href="https://internship.zuri.team/">zuri.team</a></li>
						<li>Web: <a href="https://ingressive.org/">ingressive.org</a></li>
						<li>Web: <a href="https://hng.tech/">hng.tech</a></li>
					</ul>
				</div>
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>